/*-----HEADER-----*/
.top-panel-row {
background-color: var(--primary-light-color);
}
  
.top-panel {
display: inline;
color: var(--primary-dark-color);
text-decoration: none;
border: 1px solid black;
}

.top-panel a {
  display: inline;
  color: var(--primary-dark-color);
  text-decoration: none;
}

.navbar-toggler, .navbar-toggler-icon {
border-color: var(--primary-dark-color) !important;
}

.navbar, .navbar a, .navbar * {
  color: var(--primary-dark-color); 
}

.navbar svg {
  margin-right: 0.5rem;
}

.navbar-brand h1 {
font-family: 'EuphoriaScript','Open Sans', sans-serif;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
}

.navbar-dark {
    background-color:var(--primary-light-color);
}


.nav-link.active {
  border-bottom: 2px solid var(--primary-dark-color); 
  padding-bottom: 5px;
  color: var(--primary-dark-color) !important;
  font-size: larger;
}



