/*-----HEADER-----*/
.top-panel-container {
  width: 100vw;
  background-color: var(--primary-light-color);
  justify-content: center;
}
  
.top-panel {
display: inline;
color: var(--primary-dark-color);
text-decoration: none;
}

.top-panel a {
  display: inline;
  color: var(--primary-dark-color);
  text-decoration: none;
}

.navbar-toggler, .navbar-toggler-icon {
border-color: var(--primary-dark-color) !important;
}

.navbar, .navbar a, .navbar * {
  color: var(--primary-dark-color); 
}

.navbar svg {
  margin-right: 0.5rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand h1 {
font-family: 'EuphoriaScript','Open Sans', sans-serif;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
}

.navbar-dark {
    background-color:var(--primary-light-color);
}

.nav-link.active {
  border-bottom: 2px solid var(--primary-dark-color); 
  padding-bottom: 5px;
  color: var(--primary-dark-color) !important;
  font-size: larger;
}

.top-panel-contents {
  max-width: 1550px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 1600px) {
  .navbar .container-fluid {
      max-width: 1600px; 
  }
}

