:root {
  --primary-dark-color: #80428b;
  --primary-light-color: #f3dcf7;
  --accent-color: #f0c808;
  --text-color: #333;
}

@font-face {
  font-family: 'EuphoriaScript';
  src: local('Euphoria Script'), url('../public/fonts/EuphoriaScript-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: local('Poppins'), url('../public/fonts/Poppins-SemiBold.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsExtraLight';
  src: local('Poppins'), url('../public/fonts/Poppins-ExtraLight.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.App-link {
  color: var(--primay-dark-color);
}

/* Basic CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  margin-left: 5px;
  margin-right: 5px;
}

/*------For Sticky Footer--------*/
html, body, #root {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}

.site-footer a{
  margin: 1px;
}

.footer-icons {
  color: var(--primary-dark-color);
  font-size: 2em;
}
/*------Global Fonts--------*/
body {
  font-family: 'PoppinsSemiBold','Open Sans', sans-serif;
}
/*-----HEADER-----*/
.header-div {
  background-color: var(--primary-light-color);
}

.top-panel-row {
  background-color: var(--primary-light-color);
}

.top-panel a {
  display: inline;
  color: var(--primary-dark-color);
  text-decoration: none;
}

.navbar, .navbar a, .navbar * {
  color: var(--primary-dark-color); 
}

.navbar svg {
  margin-right: 3px;
  ;
}

.navbar-toggler, .navbar-toggler-icon {
  border-color: var(--primary-dark-color) !important;
}

.navbar-brand img {
  max-width: 4rem;
}

.navbar-brand h1 {
  font-family: 'EuphoriaScript','Open Sans', sans-serif;
  font-size: 4rem;
  margin-left: 50px;
}



@media (max-width: 768px) {
  .responsive-icon {
      font-size: 0.75em; 
  }
}

@media (min-width: 1200px) {
  .navbar-brand h1 {
    font-size: 48px;
  }
}

.navbar-dark {
  background-color:var(--primary-light-color);
  margin-bottom: 2rem;
  min-height: 8rem;
}
/*---------Home Page Buttons---------*/
.home-page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
/*------Home Page Intro-------*/
.home-page-header {
  font-family: 'EuphoriaScript','Open Sans', sans-serif;
  font-size: min(7vw, 100px);
  text-align: center;
  margin: 2rem auto; 
}

.home-page-intro {
  font-family: 'PoppinsExtraLight','Open Sans', sans-serif;
  font-size: min(4vw, 1.5rem);
  text-align: justify;
  margin: 2rem auto; 
  width: 50%; 
}

.card .btn {
 border-radius: 0;
}

.card {
  box-shadow: 4px 4px 8px 0 var(--primary-dark-color);
}
.card-title, .card-footer {
  font-family: 'PoppinsSemiBold','Open Sans', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.card-text {
  font-family: 'PoppinsExtraLight','Open Sans', sans-serif;
  text-align: center;
  margin: 1rem 0;
}

.service-item h5 {
  font-family: 'PoppinsSemiBold','Open Sans', sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
}

.service-item p {
  font-family: 'PoppinsExtraLight','Open Sans', sans-serif;
  text-align: justify;
  margin: 1rem 2rem 1rem 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  font-family: 'PoppinsExtraLight','Open Sans', sans-serif;
  font-style: normal;
  padding: 20px 0;
  margin-top: 2rem;
  background-color: var(--primary-light-color);
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

/* ----------Home Page Carousel-------------------- */
.carousel-item img{
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 500px;
}

/*--------------AboutPage--------------------------*/
.about-page-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .home-page-intro {
    width: 90%;
  }
}
/* Before and After Cards in Gallery-------------------------------------------------------------- */

.before-after-card {
  margin: 10px;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.before-after-card img{
  border-radius: 10px;
  padding: 5px;
  height: 100%;
  width: 100%;
  object-fit: contain; 
  aspect-ratio: 1 / 1; 
}