.gallery-card-row {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.gallery-card-col {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.custom-gallery-card .card-body {
    text-align: center;
}
