/*------Home Page Intro-------*/
.home-page-header {
    font-family: 'EuphoriaScript','Open Sans', sans-serif;
    font-size: min(7vw, 6rem);
    text-align: center;
    margin: 2rem auto; 
}

.home-page-intro {
    font-size: min(4vw, 1.5rem);
    text-align: justify;
    margin: 2rem auto; 
    width: 50%; 
}

@media (max-width: 768px) {
    .home-page-intro, .home-page-content p {
      width: 90%;
    }
  }

.home-page-content h1, .home-page-content h2 {
    text-align: center;
}

.home-page-content h1 {
    font-family: 'EuphoriaScript','Open Sans', sans-serif;
    font-size: min(7vw, 5rem);
}

.home-page-content h2 {
    font-size: min(5vw, 2rem);
}

.home-page-buttons {
    font-family: 'PoppinsExtraLight','Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.home-page-buttons .btn:nth-child(1) {
    background-color: var(--primary-dark-color); 
    color: white; 
    border-color: var(--primary-dark-color); 
    margin: 10px;
    font-size: 1rem;
}

.home-page-buttons .btn:nth-child(2) {
    background-color: var(--primary-Light-color); 
    color: var(--primary-dark-color);
    border-color: var(--primary-dark-color);
    margin: 10px;
    font-size: 1rem;
}

.home-page-buttons .btn:hover {
    background-color: var(--primary-light-color);
    border-color: var(--primary-light-color);
    color: var(--primary-dark-color);
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.home-page-content {
    text-align: justify;
    margin-top: 1rem;
    font-size: min(4vw, 1.5rem);
    text-align: justify;
    margin: 2rem auto; 

}

/*---------HOMEPAGE CARDS-----------*/
.custom-home-page-card img {
    width: 100%;
}
.card-row {
    height: 100%;
}

.custom-home-page-card .btn {
    font-family: 'PoppinsExtraLight','Open Sans', sans-serif;
    font-size: 1.5rem;
    position: relative;
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 0;
    background-color: var(--primary-light-color);
    color: var(--primary-dark-color);
    border-color: transparent;
}

.custom-home-page-card .btn:hover {
    background-color: var(--primary-dark-color);
    border-color: var(--primary-dark-color);
    color: white;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.custom-home-page-card .card-title {
    margin-top: 1rem; 
    font-family: 'PoppinsSemiBold','Open Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.custom-home-page-card .card-text {
    font-family: 'PoppinsExtraLight','Open Sans', sans-serif;
    text-align: center;
    margin: 1rem 0;
}