.services-intro-col {
    text-align: justify;
}

.services-intro-col h2 {
    text-align: center;
}

.service-item-card-col {
   margin: .5rem;
}
  
.custom-service-item-card .card-text {
    font-family: 'PoppinsExtraLight','Open Sans', sans-serif;
    text-align: justify;
}

.card-img-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-service-item-card img {
    width: 100%;       
    height: auto;     
    object-fit: contain; 
}
